/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

body {

	.logo-img {
		margin-right:20px;
	}

	/* FRONT */
	&.front {

		#zone-preface-wrapper {
			.block {
				padding:0;
				.block-inner {
					padding:10px 5px 5px;
				}
				position:relative;
				background:#1D1C21;
				min-height:370px;
				margin-bottom:0;
				h3, .block-title {
					font-family: FuturaBook;
				    font-weight: normal;
				    letter-spacing: 2px;
				    color:#fff;
				    border-bottom:1px solid #fff;
				    padding-bottom:5px;
				    line-height:25px;
				    margin-bottom:10px;
				    font-size:17px;
				}
				p {
					color:#fff;
					margin-bottom:0;
					&:last-child {
						margin:0;
						position:absolute;
						bottom:10px;
						padding:0;
						width:95%;
					}
				}
			}
		}

		#zone-postscript-wrapper {
			.block {
				min-height:300px;
				margin-bottom:0;
			}
			#block-views-ticker-block {
				margin:20px 0;
				min-height:0;
				border-radius:7px; 
				.liScroll-container {
					width:660px;
					.mask {
						width:660px;
						top:0;
						ul {
							width:660px !important;
							display:block;
							li {
								width:660px !important;
								white-space: nowrap;
								display:block;
							}
						}
						.views-liScroll-tick-field {
							font-family:DotMatrix;
							font-size:20px;
							color:#fff;
							font-weight:normal;
							margin-bottom:10px;
						}
					}
				}
			}
		}

		/* SLIDER */
		#zone-slider-wrapper {
			background:#999999;
			#zone-slider {
				width:100%;
				max-width:100%;
				#region-slider {
					width:100%;
					margin:0;
					max-width:100%;
				}
			}
		}

	}

	#zone-branding-wrapper {
		background:url(../img/topbg.png) center center no-repeat;
	}


	/* MENU */
	#zone-menu-wrapper {
		background:#767676 url(../img/nav_bg.jpg) center center repeat-x;
	    height: 30px;
	}

	/* MENU */
	/*#zone-menu-wrapper {
	    ul.nice-menu {
	    	li {
	    		a,
	    		span {
				    padding:0 20px;
				    font-size:12px;
				    &:hover {
				    	font-size:12px;
				    }
	    		}
	    		&.menu-233,
	    		&.menu-501,
	    		&.menu-523,
	    		&.menu-527,
	    		&.menu-531 {
	    			> a, > span {
	    				width:30px;
	    			}
	    		}
	    		&.menu-509,
	    		&.menu-515 {
	    			> a, > span {
	    				width:40px;
	    			}
	    		}
	    		&.menu-519 {
	    			> a, > span {
	    				width:92px;
	    			}
	    		}
	    	}
	    }
	}*/

	/* FOOTER */
	#zone-footer-wrapper {
		background:#000 url(../img/footer_bg.png) bottom left repeat-x;
		.block  {
			min-height:100px;
			border-left:1px dotted #fff;
			padding:0 10px;
			margin-bottom:10px;
			.block-title {
				font-family:"DIN";
				font-size:13px;
				font-weight:bold;
				color:#fff;
				margin:10px 0;
				padding:0;
			}
			.menu {
				li {
					list-style:none;
					margin:2px 0;
					padding:0;
					line-height:14px;
					a {
						color:#fff;
						font-size:10px;
						text-decoration:none;
						&:hover {
							text-decoration:underline;
						}
					}
				}
			}
		}
		#block-block-16 {
			min-height:0;
			border:none;
			margin-top:-32px;
			
		}
		#region-footer-fourth {
			.block {
				border-right:1px dotted #fff;
			}
		}
		#region-footer-second {
			.block {
				.menu {
					li {
						list-style:none;
						margin:2px 0;
						padding:0;
						line-height:14px;
						width:50%;
						float:left;
						white-space:nowrap;
					}
				}
			}
		}
		#block-block-6 {
			a {
				width:64px;
				height:24px;
				display:inline-block;
				text-indent:-10000px;
				margin-right:3px;
				margin-bottom:3px;
				&.facebook {
					background:url(../img/footer_03.png) center center no-repeat;
					background-size: 65px 24px;
				}
				&.youtube {
					background:url(../img/footer_04.png) center center no-repeat;
					background-size: 65px 24px;
				}
				&.pinterest {
					background:url(../img/footer_05.jpg) center center no-repeat;
					background-size: 65px 24px;
					margin:0;
				}
			}
		}
	}

	/* 2 Page Sidebar */
	&.node-type-page {
		#section-content {
			#zone-content {
				color:#fff;
				background:#1D1C21;
				padding-top:0;
				.region-content-inner {
					padding:0 20px;
				}
			}
		}
	}

	/* 2 Page Sidebar */
	&.page-2-col-sidebar {
		#messages {
    		float: right;
    		width: 500px;
		}
		#section-content {
			#zone-content {
				color:#fff;
				background:url(../img/body-bg-content.png) -810px 0 repeat-y;
				padding-top:0;
				.region-content-inner {
					padding:0 20px;
				}
			}
		}
	}

	/* FAQS */
	&.context-faqs {
		#section-content {
			#zone-content {
				background:url(../img/body-bg-content.png) -810px 0 repeat-y;
				.region-content-inner {
					padding:0;
				}
			}
		}
		.view-faqs {
			.ui-tabs-nav {
				float:left;
				width:160px;
				margin-right:20px;
				padding-bottom:20px;
			}
			.views-row {
				float:left;
				width:460px;
				margin-top:10px;
				padding:1em 1.4em;
			}

		}
	}

	/* TESTIMONIALS */
	&.page-testimonials {	
		#zone-content-wrapper {
			#zone-content {
				#region-content {
					.region-content-inner {
						padding:20px;
					}
					.views-row  {
						float:left;
						width:166px;
						height:530px;
						overflow:hidden;
						margin-right:20px;
					}
				}
			}
		}
	}

	/* TABLE - WHICH PRODUCT */
	&.context-which-product-do-i-need {
		#zone-content-wrapper {
			#zone-content {
				#region-content {
					padding-top:0;
					.region-content-inner {
						padding:20px;
					}
				}
			}
		}
	}


	/* PRODUCT */
	&.node-type-product {
		#zone-content-wrapper {
			#zone-content {
				#region-sidebar-first {
					/* PRODUCT VIDEOS */
					#block-views-video-block {
						ul {
							li {
								span {
									top:30px;
									left:50px;
								}
							}
						}
					}
				}
			}
		}
	}

	/* GALLERY */
	&.page-gallery {	
		#zone-content-wrapper {
			#zone-content {
				#region-content {
					.region-content-inner {
						padding:20px 34px;
					}
					.views-row  {
						float:left;
						width:114px;
						margin-right:15px;
						margin-bottom:15px;
						&:nth-child(5n) {
							margin-right:0;
						}
					}
				}
			}
		}
	}

	/* where to buy int */
	&.context-where-to-buy-international {
		h1#page-title {
			display:none;
		}
		.view-header {
			margin-bottom:10px;
			float:left;
			width:100%;
			.left {
				height:50px;
				padding:10px;
				width:200px;
				margin-right:10px;
				background:#1D1C21;
				float:left;
				display:block;
			}
			h1 {
				font-family:"DIN";
				font-size:24px;
				color:#fff;
				font-weight:normal;
				padding-top:10px;
				text-transform:uppercase;
				height:40px;
				padding:15px 10px;
				width:450px;
				background:#1D1C21;
				float:left;
				margin:0;
				span {
					color:#939598;
				}
			}
		}
		#section-content {
			#zone-content {
				/*background:url(../img/body-bg-content.png) -770px 0 repeat-y;*/
				background:none;
				.region-content-inner {
					padding:0;
				}
			}
		}
		.views-row {
			height:195px;
			margin-bottom:10px;
			float:left;
			width:100%;
			.group-left {
				background:#1D1C21;
				padding:0 10px 10px;
				width:200px;
				height:175px;
				margin-right:10px;
				margin-bottom:0;
				.field-name-field-image {
					.field-items {
						height:155px;
						display:table;
						.field-item {
							height:155px;
							display:table-cell;
							vertical-align:middle;
						}
					}
				}
			}
			.group-right {
				background:#1D1C21;
				padding:10px;
				height:175px;
				width:450px;
				color:#fff;
				a {
					color:#fff;
					&:hover {
						color:#939598;
						text-decoration:none;
					}
				}
				.field-name-country-and-title {
					color: #FFFFFF;
				    font-size: 20px;
				    margin-bottom: 10px;
				    p {
				    	margin:0;
				    }
				    span {
				    	color:#939598;
				    }
				}
				.field-label-inline {
					.field-label {
						width:110px;
					}
				}
				.field-name-field-phone,
				.field-name-field-fax,
				.field-name-field-email,
				.field-name-international-dealer-email,
				.field-name-field-website {
					float:left;
					margin-right:20px;
					min-width:255px;
				}
				.field {
					margin-bottom:5px;
				}
			}
		}
	}

	/* NEWS */
	&.page-news,
	&.context-projects,
	&.context-downloads,
	&.page-search {	
		#zone-content-wrapper {
			#zone-content {
				#region-content {
					color:#fff;
					.region-content-inner {
						padding:20px;
					}
				}
			}
		}
	}

	/* PROJECTS */
	&.context-projects {	
		#zone-content-wrapper {
			#zone-content {
				#region-content {
					.ds-2col-stacked {
						& > .group-left {
							width:310px;
							margin-right:20px;
							float:left;
						}
						& > .group-right {
							width:330px;
							float:right;
							a.colorbox {
								display:block;
							}
							.field-slideshow-pager {
								li {
									margin:6px 0 0;
									&:nth-child(3n-1) {
										margin:6px 6px 0;
									}
								}					
							}
						}
					}
					.field-name-field-image {
						.field-item:not(:first-child) {
							display:none;
						}
					}
				}
			}
		}
		#block-block-17 {
			position:absolute;
			top:20px;
			right:20px;
		}
		#page-title {
			padding-top:30px;
		}
	}

	/* MEDIA */
	&.context-media {
		#region-sidebar-first {
			display:inline;
		}
		.views-row {
			float:left;
			width:100px;
			margin-right:20px;
			margin-bottom:20px;
			text-align:left;
			&:nth-of-type(5n) {
				clear:left;
			}
			.views-field-field-image {
				margin-bottom:10px;
			}
		}
	}

	/* DOWNLOADS */
	&.context-downloads {	
		#zone-content-wrapper {
			#zone-content {
				#region-content {
					.views-row {
						position:relative;
						border:none;
						.views-field-title {
							font-size:15px;
							font-family:"DIN";
							border-bottom:1px solid #fff;
							padding-bottom:5px;
						}
						.views-field-title-1 {
							display:block;
							position:absolute;
							top:0;
							right:0;
							a {
								text-decoration:none;
								color:#fff;
							}
						}
						.views-field-field-pdf {
							display:none;
							
							ul {
								margin:10px 0;
								li {
									margin:12px 0;
									a {
										color:#fff;
									}
								}
							}
						}
					}
				}
			}
		}  
		h3 {
			color:#939598;
			font-family:"DIN";
			font-size:20px;
			text-transform:uppercase;
		}
	}

	/* ONLINE WARRANTY */
	&.context-online-warranty {
		.webform-client-form {
			#webform-component-product-type,
			#webform-component-product-name,
			#webform-component-country {
				label {
					float:left;
					margin-right:10px;
					width:110px;
				}
			}
			label {
				float:left;
				margin-right:10px;
				width:100px;
			}
			select {
				background:#939598;
				float:left;
			}
			input[type="text"],
			select {
				border:1px solid #939598;
			}
			input[type="text"],
			input[type="email"],
			textarea {
				background:none;
				color:#939598;
				width:360px;
				float:right;
			}
			input[type="submit"] {
				background:#939598;
				color:#000;
				border-radius:0;
				border:none;
				text-shadow:none;
				padding:10px 20px;
				float:right;
				margin:0;
			}
			#webform-component-contact-telephone-no,
			#webform-component-serial-number,
			#webform-component-place-of-purchase,
			#webform-component-date-of-purchase {
				
			}
		}
	}	

	/* CONTACT US */
	&.context-contact-us {
		.webform-client-form {
			input[type="text"],
			input[type="email"],
			textarea {
				width:330px;
			}
			select {
				background:#939598;
				float:none;
				width:auto;
			}
			input[type="text"],
			select {
				border:1px solid #939598;
			}
			input[type="submit"] {
				background:#939598;
				color:#000;
				border-radius:0;
				border:none;
				text-shadow:none;
				padding:10px 20px;
				float:right;
				margin:0;
			}
			#webform-component-contact-telephone-no,
			#webform-component-serial-number,
			#webform-component-place-of-purchase,
			#webform-component-date-of-purchase {
				input {
					width:525px;
				}
			}
		}
	}	

	/* SEARCH FORM */
	#block-search-form {
		position:absolute;
		top:2px;
		right:0;
	    input {
	    	background:none;
	    	border:none;
	    	outline:none;
	    	background: url(../img/search.png) right center no-repeat #BEBEBE;
		    border: 1px solid #585858;
		    border-radius: 7px;
		    box-shadow: 2px 2px 2px #9C9C9C inset;
		    font-size: 13px;
		    height: 25px;
		    outline: medium none;
		    padding: 0 30px 0 10px;
		    width: 130px;
		    float:right;
	    }
	    input[type="submit"] {
	    	visibility:hidden;
	    }
	    .form-type-textfield {
	    	margin:0;
	    }
	}

	/* SEARCH FORM */
	#block-search-form {
		margin:0;
		position:absolute;	
	}

	/* THERMOFILM LOGO */
	#block-block-15 {
		position:absolute;
		right:0;
		top:18px;
		p {
			text-align:right !important;
			margin:0;
		}
	}

	/* ADJUSTMENTS TO OMEGA GRID - MAKE 10px GUTTERS INTO 5px */
	&.front {
		/*#zone-preface {
			padding:0 20px;
			.grid-3 {
				margin-left:5px;
				margin-right:5px;
			}
		}*/
	}

}